<!-- gen_pm.html -->
{% extends "base.html" %}

{% block title %}
    صفحة التكوين 
{% endblock %}

{% block content %}
    <h1>أدخل(ي) رمز المستخدم</h1>

    <form action="/process_input" method="POST" class="account">
        <input type="text" id="cosmic-user" name="cosmic_line" placeholder="رمز المستخدم">
        <button type="submit" id="generate-btn">تحقق</button>
        <p>{{ error }}</p>
    </form>
    <div class="add_data">
        <a href="/f_user">نسيت رمز المستخدم</a>
        <a href="/create_acc">أنشاء حساب مميز</a>
    </div>
{% endblock %}